<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Portal de Aprendizaje</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
    <link rel='stylesheet' href='/css/encuesta.css'>
</head>

<body>
<div ng-controller="encuestaController" layout="column" max-width= 50% layout-align="center center" ng-cloak="" class="md-inline-form inputdemoBasicUsage" ng-app="portalAprendizaje">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Encuesta</span>
                <span class="md-subhead">Para continuar, debes responder la siguiente encuesta.</span>
            </md-card-title-text>
        </md-card-title>
        <md-divider ng-if="!$last"></md-divider>
        <md-card-content>
            <div layout="column">
                <h1 class="md-headline">Instrucciones</h1>
                <p class="md-body-1">En la siguiente página se te pide que completes 12 frases. Cada frase puede terminarse de cuatro formas distintas.</p>
                <p class="md-body-1">Ordena las cuatro opciones de cada frase según pienses que se ajustan a tu manera de aprender algo nuevo,<br>tal vez en tu trabajo. Trata de pensar en situaciones recientes en las que te enfrentaste con algo nuevo.</p>
                <p class="md-body-1">Numera con un 4 la terminación que mejor se ajuste a tu forma de aprender, y con un 1 la que peor se ajuste.<br>Asegúrate de asignar un número a todas las terminaciones de cada una de las 12 frases.</p>
                <p clss="md-body-2">A continuación se presenta un ejemplo:</p>
                <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                    <div class="label">Cuando aprendo...</div>
                    <div layout="column" layout-align="center end">
                    <div layout="row" layout-align="space-between center">
                        <span>Soy feliz</span>
                        <md-select ng-model="ej1" placeholder="" class="md-no-underline">
                            <md-option value="1">   1</md-option>
                            <md-option value="2">   2</md-option>
                            <md-option value="3">   3</md-option>
                            <md-option value="4">   4</md-option>
                        </md-select>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <span>Soy rápido</span>
                        <md-select ng-model="ej2" placeholder="" class="md-no-underline">
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                        </md-select>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <span>Soy lógico</span>
                        <md-select ng-model="ej3" placeholder="" class="md-no-underline">
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                        </md-select>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <span>Soy cuidadoso</span>
                        <md-select ng-model="ej4" placeholder="" class="md-no-underline">
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="3">3</md-option>
                            <md-option value="4">4</md-option>
                        </md-select>
                    </div>
                    </div>
                </section>
                <p clss="md-body-2">Recuerda:</p>
                <div layout="row" layout-sm="column" layout-align="center center">
                    <p class="md-headline">4<small class="md-body-1">= lo que más se parece a tí.</small></p>
                    <p class="md-headline">3<small class="md-body-1">= lo segundo que más se parece a tí.</small></p>
                    <p class="md-headline">2<small class="md-body-1">= lo tercero que más se parece a tí.</small></p>
                    <p class="md-headline">1<small class="md-body-1">= lo que menos se parece a tí.</small></p>
                </div>
                <a href="/encuesta/paso2">
                    <md-button class="md-raised md-primary">Ir a la Encuesta</md-button>
                </a>
            </div>

        </md-card-content>
    </md-card>
</div>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>
<script src="/js/encuesta.js"></script>
</body>
</html>